@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
.imagenProteinas {
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 10%;
}

#menuProteinas {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
#menuProteinas li {
  width: 30%;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#menuProteinas li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tablaProteinaAnimal {
  font-size: 2.3vmin;
}
.tablaProteinaAnimal th {
  background-color: #c3bbf6;
  text-align: center;
}
.tablaProteinaAnimal td {
  background-color: white;
  text-align: center;
}

.tablaProteinaVegetal {
  font-size: 2.3vmin;
}
.tablaProteinaVegetal th {
  background-color: #c3bbf6;
  text-align: center;
}
.tablaProteinaVegetal td {
  background-color: white;
  text-align: center;
}

.videoProteinas {
  display: flex;
  justify-content: space-evenly;
  height: 30vmin;
}

.imagenCarbohidratos {
  transition-duration: 0.5s;
}
.imagenCarbohidratos:hover {
  opacity: 70%;
}

.tablaCarbohidratosSimples th {
  background-color: #c3bbf6;
  text-align: center;
}
.tablaCarbohidratosSimples td {
  background-color: white;
  text-align: center;
}

.tablaCarbohidratosComplejos th {
  background-color: #c3bbf6;
  text-align: center;
}
.tablaCarbohidratosComplejos td {
  background-color: white;
  text-align: center;
}

.separadorCarbohidratos{
  border-bottom: 0.5px solid black;
}

.tituloImagenCarrusel {
  padding: 5px;
  background-color: white;
  border: 1px dashed black;
}

.tablaGrasas th {
  background-color: #c3bbf6;
  text-align: center;
}
.tablaGrasas td {
  background-color: white;
  text-align: center;
}

.botonContacto {
  background-color: beige;
  border: 1px dashed black;
}
.botonContacto:hover {
  background-color: #b9c17c;
  border: 1px solid black;
}

.animate__animated {
  animation: 6s linear infinite;
}

.linksImagenes a {
  font-size: 2.8vmin;
  border: 0.1vmin solid black;
  border-radius: 10%;
  padding: 1%;
  background-color: #dde2b7;
  text-decoration: none;
  color: black;
}
.linksImagenes a:hover {
  background-color: #f6a59b;
}

body {
  background-color: #eaeaea;
  color: black;
  font-family: "Karla", sans-serif;
}

.slideAnimation, section, main {
  animation: slideInFromRight 1s ease-in-out;
}

.fa-cheese {
  color: gold;
  -webkit-text-stroke: 2px black;
}

.fa-bread-slice {
  color: chocolate;
  -webkit-text-stroke: 2px black;
}

.fa-egg {
  color: beige;
  -webkit-text-stroke: 2px black;
}

.nav-bar {
  display: none;
  text-decoration: none;
}

.nav-mobile {
  background-color: #b9c17c;
  padding-top: 15%;
  padding-bottom: 5%;
  display: none;
  list-style: none;
}

.nav-mobile a {
  color: black;
  text-decoration: none;
  font-size: 4vmin;
}

#menu {
  text-align: center;
  list-style: none;
  font-size: 2.2vmin;
}
#menu li {
  width: 20%;
  position: relative;
  float: left;
  border: 0.1vmin solid black;
  background-color: white;
}
#menu li:hover {
  background-color: beige;
}
#menu li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.seleccionado {
  background-color: beige;
}

h1 {
  text-align: center;
  margin-top: 0px;
  padding: 10px;
}

.imagenInicio1 {
  position: relative;
  width: 20%;
  margin-top: 3%;
  margin-left: 10%;
}

.tituloInicio {
  background: linear-gradient(to right, #e5d0a1, #b9c17c, #f7f4bd, #e5d0a1, #b9c17c, #f7f4bd, #e5d0a1);
  background-size: 200% auto;
  animation: gradientAnimationMixin(#e5d0a1, #b9c17c, #f7f4bd, #e5d0a1, #b9c17c, #f7f4bd, #e5d0a1) 6s linear infinite;
  text-align: center;
  margin-top: 0px;
  padding: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.tituloMacros {
  background: linear-gradient(to right, #f6a59b, #c3bbf6, #b5aaff, #f6a59b, #c3bbf6, #b5aaff, #f6a59b);
  background-size: 200% auto;
  animation: gradientAnimationMixin(#f6a59b, #c3bbf6, #b5aaff, #f6a59b, #c3bbf6, #b5aaff, #f6a59b) 6s linear infinite;
  text-align: center;
  margin-top: 0px;
  padding: 10px;
  font-weight: bold;
  text-decoration: underline;
}

p {
  text-align: justify;
  font-weight: normal;
  font-size: 2.2vmin;
}

h3 {
  text-decoration: underline;
}

.textBold {
  font-weight: bold;
}

iframe {
  display: inline-block;
}

.imagenFooter {
  max-width: 5%;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.item-1 {
  grid-column: 1;
}

.item-2 {
  grid-column: 2;
}

.item-3 {
  grid-column: 3;
}

.img-grids {
  max-width: 23vw;
}

@media all and (max-width: 780px) {
  .grid-main {
    grid-template-columns: 1fr;
  }
  .item-2 {
    grid-row: 3;
    grid-column: 1/span 2;
  }
  .item-3 {
    grid-column: 2;
  }
  .img-grids {
    max-width: 40vw;
    margin: 10px;
    border: 3px dashed purple;
  }
  .nav-bar {
    display: flex;
    position: fixed;
    z-index: 9999;
  }
  #menu {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .tablaProteinaAnimal {
    font-size: 4vmin;
  }
  .tablaProteinaVegetal {
    font-size: 4vmin;
  }
  p {
    font-size: 1.6vmax;
    overflow: hidden;
    max-height: 250px;
    overflow-y: scroll;
  }
  .imagenProteinas {
    width: 80%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .videoProteinas {
    display: block;
    height: auto;
    margin-left: 25%;
  }
  .tablaCarbohidratosSimples {
    font-size: 1vmax;
  }
  .tablaCarbohidratosComplejos {
    font-size: 1vmax;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
