$colorSecundario: #b9c17c;
$colorTablasMacros: #c3bbf6;

.imagenCarbohidratos {
    transition-duration: 0.5s;

    &:hover {
        opacity: 70%;
    }
}

.tablaCarbohidratosSimples {
    th {
        background-color: $colorTablasMacros;
        text-align: center;
    } 
    
    td { 
        background-color: white;
        text-align: center;
    }
}

.tablaCarbohidratosComplejos {
    th {
        background-color: $colorTablasMacros;
        text-align: center;
    } 
    
    td { 
        background-color: white;
        text-align: center;
    }
}

.tituloImagenCarrusel{
    padding: 5px;
    background-color: white;
    border: 1px dashed black;
}