$colorSecundario: #b9c17c;
$colorTablasMacros: #c3bbf6;
$colors-macro: (#f6a59b, #c3bbf6, #b5aaff,#f6a59b, #c3bbf6, #b5aaff, #f6a59b);
$colors-inicio: (#e5d0a1, #b9c17c, #f7f4bd,#e5d0a1, #b9c17c, #f7f4bd, #e5d0a1);

@import "proteinas.scss";
@import "carbohidratos.scss";
@import "grasas.scss";
@import "contacto.scss";
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.animate__animated{
    animation: 6s linear infinite;
}

.linksImagenes a{
    font-size: 2.8vmin;
    border: 0.1vmin solid black;
    border-radius: 10%;
    padding: 1%;
    background-color: #dde2b7;
    text-decoration: none;
    color: black;

    &:hover{
        background-color: #f6a59b;
    }
}

body {
    background-color: #eaeaea;
    color: black;
    font-family: 'Karla', sans-serif;
}

.slideAnimation{
    animation: slideInFromRight 1s ease-in-out;
}

main{
    @extend .slideAnimation;
}

section{
    @extend .slideAnimation;
}

.fa-cheese{
    color: gold;
    -webkit-text-stroke: 2px black;
}

.fa-bread-slice{
    color: chocolate;
    -webkit-text-stroke: 2px black;
}

.fa-egg{
    color: beige;
    -webkit-text-stroke: 2px black;
}

.nav-bar{
    display: none;
    text-decoration: none;
}

.nav-mobile{
    background-color: #b9c17c;
    padding-top: 15%;
    padding-bottom: 5%;
    display: none;
    list-style: none;
}

.nav-mobile a{
    color: black;
    text-decoration: none;
    font-size: 4vmin;
}

#menu{
    text-align: center;
    list-style: none;
    font-size: 2.2vmin;

    li {
        width: 20%;
        position:relative;
        float:left;
        border: 0.1vmin solid black;
        background-color: white;

        &:hover{
            background-color: beige;
        }

        a{
            width: 100%;
            height: 100%;
            display: inline-block;
            text-decoration: none;
            color: black
        }
    }
}

.seleccionado {
    background-color: beige;
}

h1 { 
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}

.imagenInicio1{
    position: relative;
    width: 20%;
    margin-top: 3%;
    margin-left: 10%;
}

@mixin tituloAnimacion($colores){
    background: linear-gradient(to right, $colores);
    background-size: 200% auto;
    animation: gradientAnimationMixin($colores) 6s linear infinite;

    text-align: center;
    margin-top: 0px;
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.tituloInicio {
    @include tituloAnimacion($colors-inicio)
}

.tituloMacros {
    @include tituloAnimacion($colors-macro)
}

p { 
    text-align: justify;
    font-weight: normal;
    font-size: 2.2vmin;
}

h3{
    text-decoration: underline;
}

.textBold{
    font-weight: bold;
}

iframe{
    display: inline-block;
}

.imagenFooter{
    max-width: 5%;
}

.grid-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
}

.item-1{
    grid-column: 1;
}

.item-2{
    grid-column: 2;
}

.item-3{
    grid-column: 3;
}

.img-grids{
    max-width: 23vw;
}

@media all and (max-width: 780px) {
    .grid-main{
        grid-template-columns: 1fr;
    }

    .item-2{
        grid-row: 3;
        grid-column: 1 / span 2;
    }

    .item-3{
        grid-column: 2;
    }

    .img-grids{
        max-width: 40vw;
        margin: 10px;
        border: 3px dashed purple;
    }

    .nav-bar{
        display: flex;
        position: fixed;
        z-index: 9999;
    }

    #menu{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    .tablaProteinaAnimal{ 
        font-size: 4vmin;
    }

    .tablaProteinaVegetal{ 
        font-size: 4vmin;
    }

    p {
        font-size: 1.6vmax
    }

    .imagenProteinas {
        width: 80%;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .videoProteinas{
        display: block;
        height: auto;
        margin-left: 25%;
    }

    .tablaCarbohidratosSimples{
        font-size: 1vmax;
    }

    .tablaCarbohidratosComplejos{
        font-size: 1vmax;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@mixin gradientAnimationMixin($colors){
    @keyframes gradientAnimation {
        @for $i from 1 through length($colors) {
            $percentage: percentage(($i - 1) / length($colors));
        
            #{$percentage} {
                background-position: $percentage center;
            }
        
            $nextPercentage: percentage($i / length($colors));
            #{$nextPercentage} {
                background-position: $nextPercentage center;
            }
        }
    }
}